body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

#canvas{
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

.grid-container{
  justify-items: start;
  align-items: start;
  display: grid;
  grid-template-columns: auto 200px;
  grid-column-gap: 0px;
}

#controls{
    background-color: #454545;
    border-width: 5px;
    height: 400px;
    border: none;
    width: 200px;
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: 90px 60px 60px 60px 60px 60px 60px;
    align-items: start;
    justify-items: center;
}

  .switch {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider2:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider2 {
    background-color: #4CAF50;
  }
  
  input:focus + .slider2 {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider2:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider2.round {
    border-radius: 34px;
  }
  
  .slider2.round:before {
    border-radius: 50%;
  }

.slider{
    grid-column: 2 / span 2;
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 6px;;
    margin-top: 27px;
    align-items: center;
}

.slider:focus{
  outline: 0;
}

.slider:hover {
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 17px;
    background: #4CAF50;
    cursor: pointer;
}
  

.label{
    margin-top: 20px;
    margin-left: 10px;
    align-items: center;
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

#clear{
  grid-column-start: 1; 
  grid-column-end: 4; 
  align-items: center;
  font-family: Roboto, sans-serif;
  background-color: #4CAF50;
  height: 35px;
  width: 100px;
  margin-top: 15px;
  border: none;
  color: white;
}

#clear:hover{
  height: 38px;
  width: 106px;
  margin-top: 14px;
  cursor: pointer;
}

#clear:active{
  background-color: rgb(84, 194, 87);
}

#clear:focus{
  outline: 0;
}

#a{
  margin-top: 27px;
}

#b{
  margin-top: 27px;
  margin-left: 0px;
  margin-right: 15px;
  text-align: start;
}

#title{
  grid-column-start: 1; 
  grid-column-end: 4; 
  font-size: 25px;
  color: white;
  text-align: center;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.shape{
  align-items: center;
  font-family: Roboto, sans-serif;
  background-color: white;
  height: 50px;
  width: 70px;
  margin-top: 15px;
  text-align: center;
  border: none;
  color: black;
}

.shape:active{
  background-color: #4CAF50;
  color: white;
  outline: 0;
}